@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .snap-mandatory {
        scroll-snap-type: y mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #111827; 
}
::-webkit-scrollbar-thumb {
    background: #374151; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4B5563; 
}
