.education-section {
  @include section-title-adjustment();

  .card {
    &:hover,
    &:focus {
      border-left: 2px solid get-light-color('accent-color');
    }
  }

  .education-info-table {
    width: 100%;
    border: none;
    background: none;

    .icon {
      width: 2rem;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .hline {
        position: absolute;
        left: 1rem;
        top: 0;
        background-color: get-light-color('accent-color');
        height: 100%;
        width: 2px;
      }

      .icon-holder {
        background-color: get-light-color('accent-color');
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        padding: 0.2rem;
        text-align: center;
        color: get-light-color('text-over-accent-color');
        position: relative;
      }
    }

    tr,
    th,
    td {
      border: none !important;
      padding: 0;
      background: none !important;
    }

    tr {
      &:hover {
        background: none !important;
      }
      &:first-child {
        .hline {
          height: 65%;
          top: auto;
        }
      }
      &:last-child {
        .hline {
          height: 50%;
        }
      }

      .line {
        width: 5%;
        padding-left: 0;
        padding-right: 0;

        div {
          height: 2px;
          margin-right: -1px;
          background-color: get-light-color('accent-color');
        }
      }

      .details {
        .degree-info {
          padding: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          border-left: 2px solid get-light-color('accent-color');
          border-top: 1px solid get-light-color('bg-primary');
          border-bottom: 1px solid get-light-color('bg-primary');
          border-right: 1px solid get-light-color('bg-primary');
          border-radius: 5px;

          /* 3-column header layout */
          .education-entry-heading {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 1rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          }

          .edu-logo-col {
            flex-shrink: 0;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .institution-logo {
            max-width: 70px;
            max-height: 70px;
            width: auto;
            height: auto;
            object-fit: contain;
            display: block;
          }

          /* Ensure logo visibility */
          .institution-logo.light-logo {
            display: block;
          }

          .institution-logo.dark-logo {
            display: none;
          }

          .edu-info-col {
            flex-grow: 1;
            min-width: 0;

            .institution-name {
              margin-bottom: 0.25rem;
              font-size: 1.1rem;
              font-weight: 600;
            }

            .degree-name {
              margin-bottom: 0;
              font-weight: normal;
              color: get-light-color('muted-text-color');
            }
          }

          .edu-dates-col {
            flex-shrink: 0;
            margin-left: auto;
            text-align: right;

            .timeframe {
              font-size: 0.95rem;
              font-weight: 500;
              color: get-light-color('muted-text-color');
              white-space: nowrap;
            }
          }

          h5 {
            margin-bottom: 0.3rem;
          }

          .timeframe {
            color: get-light-color('muted-text-color');
            text-align: right;
          }

          .taken-courses {
            table {
              margin-left: 1rem;
              width: 100%;
              @include transition();
              background: none;
              border: none;

              tr,
              td,
              th {
                background: none;
                border: none;
                color: get-light-color('text-color');
              }

              tr {
                height: auto !important;
              }
              th {
                .course-name-header {
                  width: 50%;
                }
              }
            }
            .hidden-course {
              display: none;
              @include transition();
            }
            ul {
              margin-bottom: 0;
            }
          }

          .custom-section {
            .custom-content {
              padding-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  @include media('<=large') {
    .container {
      padding-left: 0;
    }
  }

  @include media('<=small') {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .container {
      padding-right: 0;
    }

    .icon {
      display: none;
    }

    .line {
      display: none;
    }

    .timeframe {
      text-align: left;
    }

    /* Responsive: stack on mobile */
    .education-entry-heading {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }

    .edu-logo-col {
      width: auto;
    }

    .edu-dates-col {
      text-align: left;
      margin-left: 0;
    }
  }
}

.education-alt .degree-info {
  border-right: 2px solid get-light-color('accent-color');
}

html[data-theme='dark'] {
  .education-section {
    .card {
      &:hover,
      &:focus {
        border-left: 2px solid get-dark-color('accent-color');
      }
    }

    .education-info-table {
      .icon {
        .hline {
          background-color: get-dark-color('accent-color');
        }

        .icon-holder {
          background-color: get-dark-color('accent-color');
          color: get-dark-color('text-over-accent-color');
        }
      }
      tr {
        .line {
          div {
            background-color: get-dark-color('accent-color');
          }
        }

        .details {
          .degree-info {
            border-left: 2px solid get-dark-color('accent-color');
            border-top: 1px solid get-dark-color('bg-primary');
            border-bottom: 1px solid get-dark-color('bg-primary');
            border-right: 1px solid get-dark-color('bg-primary');

            .education-entry-heading {
              border-bottom-color: rgba(255, 255, 255, 0.1);
            }

            .institution-logo.light-logo {
              display: none;
            }

            .institution-logo.dark-logo {
              display: block;
            }

            .edu-info-col .degree-name {
              color: get-dark-color('muted-text-color');
            }

            .edu-dates-col .timeframe {
              color: get-dark-color('muted-text-color');
            }

            .timeframe {
              color: get-dark-color('muted-text-color');
            }

            .taken-courses {
              table {
                tr,
                td,
                th {
                  color: get-dark-color('text-color');
                }
              }
            }

            &:hover{
              border: 1px solid rgba(get-dark-color('accent-color'),0.2);
              border-left: 2px solid get-dark-color('accent-color');
            }
          }
          .custom-section {
            .custom-content {
              color: get-dark-color('text-color');
            }
          }
        }
      }
    }
  }

  .education-alt .degree-info {
    border-right: 2px solid get-dark-color('accent-color');
  }
}
