{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{/* default author image */}}
{{ $authorImage:= "/images/default-avatar.png" }}
{{ if $author.image }}
  {{ $authorImage = $author.image }}
{{ end }}

{{/* if author image is provided in author's data, then use that */}}
{{ if eq (printf "%T" .Params.author ) "maps.Params" }}
    {{ with .Params.author }}
        {{ if .image }}
            {{ $authorImage = .image }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* apply image processing. don't use "Fit" in svg or gif because its not supported */}}
{{ $authorImageResource := resources.Get $authorImage}}
{{ $finalImage := $authorImage }}

{{/*  return the author image link  */}}
{{ if $authorImageResource }}
  {{ if and (ne $authorImageResource.MediaType.SubType "svg") ( ne $authorImageResource.MediaType.SubType "gif") }}
    {{ $authorImageResource = $authorImageResource.Fit "120x120" }}
  {{ end }}
  {{ $finalImage = $authorImageResource.RelPermalink }}
{{ end }}

{{ return $finalImage }}
