{{ $dataSite := (index site.Data site.Language.Lang).site }}
{{ $dataAuthor := (index site.Data site.Language.Lang).author }}

{{ $title := .Title | default $dataSite.openGraph.title | default site.Title }}
{{ $type := "website" }}{{ if .IsPage }}{{ $type = "article" }}{{ end }}
{{ $description := .Description | default .Summary | default $dataSite.openGraph.description | default $dataSite.description }}

{{ $image := .Params.image }}
{{ if not $image }}{{ if .Params.images }}{{ $image = index .Params.images 0 }}{{ end }}{{ end }}
{{ if not $image }}{{ $image = $dataSite.openGraph.image }}{{ end }}
{{ if not $image }}{{ $image = $dataAuthor.image }}{{ end }}

{{ $url := .Permalink | default $dataSite.openGraph.url | default site.BaseURL }}

<!-- ============ open graph tags ========== -->
<meta property="og:title" content="{{ $title }}"/>
<meta property="og:type" content="{{ $type }}"/>
<meta property="og:description" content="{{ $description }}"/>
<meta property="og:image" content="{{ $image | absURL }}">
<meta property="og:url" content="{{ $url }}">

<!-- ============ twitter card tags ========== -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image | absURL }}">
